@charset "utf-8";
/*标准化*/
html,body{
	margin: 0;
    padding: 0
}
/*body,div,p,blockquote,ul,li,a,span,i,em,strong,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,button,textarea,blockquote {
    margin: 0;
    padding: 0
}*/

body {
    font: 14px/22px Verdana,'微软雅黑','Microsoft YaHei',Helvetica,Arial;
    color: #2d2d2d
}

h1,h2,h3,h4 {
    font: 15px/1.5 Verdana,'微软雅黑','Microsoft YaHei',Helvetica,Arial;
    font-weight: 400
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #2d2d2d
}
a:hover{
    text-decoration: none;
    color: #dd5862
}
a:focus {
    outline: 0;
    text-decoration: none;

}

img {
    border: 0;
    border-radius: 6px;

}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input[type=text],input[type=password],input[type=url],input[type=email] {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    height: 19px;
    line-height: 19px;
    padding: 3px 9px
}

label input[type=radio],label input[type=checkbox] {
    display: inline-block;
    vertical-align: middle
}

::-webkit-input-placeholder {
    color: #7d7d7d
}

:-moz-placeholder {
    color: #7d7d7d
}

::-moz-placeholder {
    color: #7d7d7d
}

:-ms-input-placeholder {
    color: #7d7d7d
}

::selection {
    background: #dd5862;
    color: #FFF
}

::-moz-selection {
    background: #dd5862;
    color: #FFF
}

input::selection,textarea::selection,.btn-positive::selection {
    background: #39f;
    color: #FFF
}

input::-moz-selection,textarea::-moz-selection,.btn-positive::-moz-selection {
    background: #39f;
    color: #FFF
}
/*清除浮动*/
.clearfix {
    *zoom:1}

.clearfix:before,.clearfix:after {
    clear: both;
    display: table;
    content: "";
    line-height: 0
}

    /*图标部分*/
.icon-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    background-position: 0 -300px;
    height: 39px;
    width: 32px
}
.logo {
    float: left;

    height: 44px;
    width: 34px;
    overflow: hidden
}
.icon-slogan {
    display: inline-block;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    width: 136px;
}
.icon-ios{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    background-position: 0 -90px
}
.icon-android{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    background-position: 0 -30px
}
.icon-wp {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    background-position: 0 -60px
}
.icon-qq {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    background-position: -110px -270px
}
.icon-wechat{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    background-position: 0 -270px
}
.icon-weibo {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    background-position: 0 -210px
}
.icon-douban {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    background-position: 0 -240px
}

.icon-open-weibo {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left ;
    background-position: -110px -30px;
    width: 24px;
    height: 24px;

}

.icon-open-qq {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left ;
    background-position: -110px -60px;
    width: 24px;
    height: 24px;

}

.icon-open-douban {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-common.png) no-repeat top left;
    width: 24px;
    height: 24px;
    background-position: -110px -90px;
}
.icon-search {
    display: inline-block;
    position: absolute;
    top: 3px;
    right:-2px;
    width: 24px;
    height: 24px;
    line-height: 20px;
    vertical-align: middle;
    background: url(../img/icon-common.png)no-repeat top left;
    background-position: -106px -238px
}













    /* header 部分 */
.header{
    background-color: #e1e1e1;
    border-top: 2px solid #dd5862;
    border-bottom: 1px solid #e9e8e8;
    margin-bottom: 60px;
    min-width: 960px;
    /*height: 56px;*/
    position: relative;
}
.header-navbar {
    *zoom:1;height: 50px;
    line-height: 51px;
    width: 960px;
    margin: 0 auto
}

.header-navbar:before,.header-ct:after {
    clear: both;
    display: table;
    content: "";
    line-height: 0
}
/*container*/
.container{
    width: 960px;
}
.section-head h2 {
    float: left;
    font-size: 24px
}
.section-head span {
    margin-right: 4px;
    top: 2px;
}
.section-nav{
    float: right;
}

.section-nav a {
    display: inline-block;
    margin-left: 3px;
    margin-top: 14px;
    color: #7d7d7d;
    transition: color 200ms ease
}

.section-nav a:hover {
    color: #dd5862
}
/*导航*/
.nav  {
    float: left;
    margin-left: 8px
}
.nav ul li {
    float: left
}

.nav ul li a {
    display: block;
    margin-left: 25px;
    color: #2d2d2d;
    font-size: 16px
}

.nav ul li a:hover {
    color: #dd5862
}
/*搜索框*/

.navbar-search {
    float: left;
    margin-left: 20px;
    position: relative;
    line-height: 50px
}

.navbar-search .input-search {
    background: #ededed;
    border: 1px solid #e5e5e5;
    border-radius: 19px;
    font-size: 12px;
    padding: 3px 10px 3px 30px;
    box-shadow: 1px 1px 1px #ECECEC inset;
    width: 80px;
    width: 135px\0;
    transition: width 300ms ease 0s
}

.navbar-search .input-search:focus {
    background: #ffffff;
    box-shadow: 2px;
    width: 135px;
    outline: medium;
}

.navbar-search .btn-search {
    background: 0 0;
    border: 0;
    color: #C9C9C9;
    cursor: pointer;
    position: absolute;
    left: 5px;
    top: 15px;
    top: 0\0;
    font-size: 14px;
    width: 18px;
    z-index: 99
}
/*登录框*/
.btn-login{
    color: #7d7d7d;
    float: right;
    max-width: 70px;
    position: relative;
    cursor: pointer
}
.login-cont{
    display: none;
    border-radius: 4px;
    color: #706f6f;
    font-size: 13px;
    line-height: 13px;
    box-shadow: 0 0 3px #dedede;
    position: absolute;
    border:1px solid #E5E5E5;
    padding: 5px 9px;
    overflow: hidden;
    text-align: left;
    background-color: #ffffff;
    top: 52px;
    right: 46px;
    z-index: 101;
}
.register-cont{
    display: none;
    border-radius: 4px;
    color: #706f6f;
    font-size: 13px;
    line-height: 13px;
    box-shadow: 0 0 3px #dedede;
    position: absolute;
    border:1px solid #E5E5E5;
    padding: 5px 9px;
    overflow: hidden;
    text-align: left;
    background-color: #ffffff;
    top: 52px;
    right: 46px;
    z-index: 101;
}
.login-passport{
    padding: 20px 15px;
    min-width: 201px;
}
.login-head{
    overflow: hidden;
    margin-bottom: 15px;
    line-height: 1;
}
.login-left{
    float: left;
    font-size: 14px;
    color: #000;
}
.login-right{
    float: right;
}
.login-right-a{
    color: #dd5862
}
.passport-input {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    height: 26px;
    padding-left: 6px;
    line-height: 26px;
    width: 178px;
    margin-bottom: 10px;
}
.passport-input input {
    height: 23px;
    border: 0;
    padding:0;
}
.input-l {
    color: #000;
    display: inline-block;
    font-size: 13px;
}
.input-r {
    width: 140px;
    float: right;
    display: inline-block;
     height: 26px;
    line-height: 26px;
    outline: none;
 }
.input-btn {
    width: 178px;
    height: 26px;
    text-align: center;
    background: #dd5862;
    color: #ffffff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.login-auto{
    display: inline-block;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}
.login-auto input{
    vertical-align: middle;
    margin: 0;
}
.reset-pwd{
    display: inline-block;
    float: right;
    color: #dd5862;
}
.login-platform{
    text-align: center;
}
.login-platform a{
    margin-right: 15px;
}
.input-verify{
    width: 60px;
    outline: none;
}
.verify-img{
    width: 65px;
    height: 24px;
    border: 0;
    border-radius: 0;
    float: right;
    cursor: pointer;
}
/*轮播图*/
.carousel {
    position: relative;
    margin-top: -40px;
}
/*控制小圆点*/
.carousel-indicators{
    margin-bottom: -40px;
}
.carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: #e1e1e1;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active{
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: red;
}
/*上下页箭头*/
.carousel-control{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 17px;
    width: 7%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: 0;
    border-radius: 10px;
}
.carousel-control.right{
    right: 15px;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
/*vols部分*/
.vols{
    margin-bottom: 45px;
    margin-top: 20px
}

.vols-img{
    margin-top: 10px;
}
.vols-item-lg{
    width: 640px;
    float: left;
    position: relative;
}
.vols-item{
    float: right;
    width: 280px;
    margin-bottom: 34px;
    position: relative;
}
/*play-mark*/
.icon-play-lg {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-index.png) no-repeat top left;
    height: 116px;
    width: 116px;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    margin-left: -58px;
    z-index: 9;
    opacity: 1;
    filter: alpha(opacity=0);
}
.icon-play {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-index.png) no-repeat top left;
    background-position: 0 -120px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -28px;
    z-index: 9;
    height: 60px;
    width: 56px;
}
/*recommend部分*/
.recommend {
    margin-top: 58px;
}
.recommend-muscian {
    float: left;
    width: 465px
}

.mus-content{
    margin-top: 22px;
}
.mus-cover{

}
.mus-cover img {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 75px
}
.mus-title {
    display: table;
    float: right;
    width: 270px;
    height: 150px;
    overflow: hidden
}
.mus-signl-name {
    display: block;
    font-size: 22px;
    line-height: 28px;
}
.mus-title-artist{
    color: #7d7d7d;
    font-size: 18px;
    margin-top: 12px;
}
.mus-pub-date{
    text-align: right;
    color: #7d7d7d;
    margin-top: 7px;
}
.mus-remark{
    margin-top: 12px
}
.mus-remark span {
    font-size: 13px;
}
.quote-before {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-index.png) no-repeat top left;
    background-position: 0 -190px;
    height: 15px;
    width: 13px
}

.quote-after {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    background: url(../img/icon-index.png) no-repeat top left;
    background-position: -100px -190px;
    height: 15px;
    width: 13px
}
.recommend{
    margin-bottom: 58px;
}
.recommend-essay{
    float: left;
    width: 465px;
}

.essay-contc{
    margin-top: 22px;
    position: relative;
}
.essay-item{
    float: left;
    /*position: absolute;*/
    margin-left: 24px;
}
.essay-cover{
    width: 208px;
    height: 148px;
    border-radius: 4px;
}
.essay-meta{

}
.essay-title{
    font-size: 14px;
    margin: 15px 0 10px;
    width: 208px;
    line-height: 20px;
    height: 38px;
    overflow: hidden;
}
/*热门活动部分*/
.events-cont{
    margin-top: 22px;
}
.events-item{
    float: left;
    margin-bottom: 20px;
    margin-right: 16px;
    width: 294px;
}
.events-info{
    float: left;
    margin-left: 15px;
    width: 158px;
    overflow: hidden;
}
.events-info p{
    font-size: 12px;
    color: #7d7d7d;
}
.events-cover{
    display: block;
    float: left;
    width: 120px;
    height: 170px;
    overflow: hidden;
}
/*footer 部分*/
.footer{
    background: #222;
    border-top: 1px solid #111;
    margin-top: 90px;
    padding: 35px 0;
    width: 100%;
}
.footer-cont{
    color: #e1e1e1;
    width: 960px;
    margin: 0 auto;
}
.footer-cont a {
    color: #e1e1e1;
    font-size: 13px;
    margin: 2px 0;
    display: inline-block;
}
.footer-about{
    float: left;
    width: 380px;
}
.footer-about p{
    margin-top: 6px;
}
.footer-app{
    float: left;
    width: 305px;
}
.footer-app p {
    margin-top: 27px;
}
.footer-sign{
    text-align: right;
    float: right;
    width: 275px;
}
.footer-sign a {
    margin-left: 20px;
}
.sign-head {
   margin-bottom: 10px;
}
.sign-slogan {
    margin-top: 30px;
}
.icon-items {
    margin-bottom: 40px;
    position: relative;
}
.icon-qq:hover span {
    display: block;
}
.qq-group{
    text-align: left;
    position: absolute;
    left: 14px;
    bottom: 24px;
    padding: 10px 10px 5px;
    border: 1px solid #ACACAC;
    background: #FFF;
    width: 108px;
    display: none;
    color: #2d2d2d;
    cursor: text;
    line-height: 22px;
}
.icon-wechat:hover img {
    display: block;
}
.icon-wechat img {
    display: none;
    border: 0;
    border-radius: 4px;
    position: absolute;
    left: 182px;
    bottom: 25px;
}
.login-show {
    display: block;
}
.login-hide {
    display: none;

}